.main-content{
  margin: 45px 0 25px 0;
  h2{
    border-bottom: solid 1px #dde5e9;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}
.block-list{
  li{
    i{
      color: #2ba6cb;
      font-size: 100px;
      float: left;
    }
    .item-content{
      padding-left: 120px;
      padding-right: 35px;
      p{
        color: #8996a0;
        font-size: 12.5px;
      }
    }
  }
}
