a.th{
  margin: 10px;
}
a img{
  border: none;
}

img{
  vertical-align: middle;
}

pre{
  overflow: auto;
}

.markdown{
  margin-top: emCalc(25px);
  margin-bottom: emCalc(25px);
  .highlight{
    border: 1px solid #cacaca;
    color: #393939;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1;
    background-color: #fafafb;
    background-clip: padding-box;
    p{
      margin: 0;
    }
  }
}

.breadcrumbs > *{
  font-size: emCalc(16px);
}
