.main-content .large-9{
  background-color: white;
  & > h1{
    font-size: 20px;
    margin: 10px 0 10px 0;
  }
  .block-guides{
    background-color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    h1{
      font-size: 1.2em;
      margin: 0 0 10px 0;
    }
    h3{
      color: $gray-darker;
      border-top: solid 1px $gray-border;
      width: 100%;
      padding-top: 5px;
    }
    ul{
      li a{
        margin-left: 22px;
        font-size: 14px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
