.top-bar{
  a:hover{
    text-decoration: none;
  }
  .title-area{
    a{
      padding-right: 5px !important;
    }
    i{
      font-size: 30px;
      line-height: 45px;
      color: white;
      &:hover{
        color: $white-dark;
      }
    }
  }
  section .left{
    line-height: 40px;
    margin-left: 0;
    a{
      color: white;
      &:hover{
        color: $white-dark;
      }
    }
  }
}
.sub-nav-bar{
  margin-top: 40px;
  margin-bottom: 15px;
  a:hover{
    text-decoration: none;
  }
  .large-7{
    a{
      font-size: 21px;
      color: $gray-dark2;
      &:hover{
        color: black;
      }
    }
  }
  .sub-nav{
    margin: 0;
    dd{
      margin-bottom: 3px;
      &.active a{
        background-color: $gray-bg;
        color: black;
        border-radius: 0;
        border-bottom: solid 4px $gray-border;
      }
    }
  }
}
