.footer{
  .row{
    border-top: solid 2px #dde5e9;
  }
  a{
    font-weight: normal;
  }
  ul{
    list-style: none;
    li{
      float: left;
      margin-left: 22px;
      line-height: 40px;
    }
  }
  .beian {
    color: #333333;
    &:hover {
      color: #333333;
      text-decoration: underline;
    }
  }
}

/* IE upgrade overlay */
#ie-warning-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  filter: alpha(opacity=90);
  background-color: #f1f1f1;

  #ie-warning {
    position: relative;
    z-index: 2001;
    border: #000 1px solid;
    padding: 20px;
    background-color: #fff;
    color: #4f4f4f;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    list-style-type: none;
    margin: 50px auto;
    width: 650px;
    height: 300px;

    h1 {
      margin-bottom: 0.5em;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      list-style: none none outside;

      li {
        background: image-url("browser_warning_bg.gif") no-repeat left top;
        float: left;
        margin: 0 5px;
        width: 120px;
        height: 122px;
        cursor: pointer;

        a {
          display: block;
          width: 120px;
          height: 122px;
          cursor: pointer;
        }

        img {
          margin: 0 10px;
          width: 100px;
          height: 100px;
        }

        p {
          font-size: 0.8em;
          margin: 0 auto;
          width: 120px;
          color: #808080;
          line-height: 17px;
          height: 18px;
          text-align: center;
        }
      }
    }
  }
}
