body{
  background-color: $gray-bg;
}
.toc{
  font-size: 14px;
  li{
    list-style-type: lower-roman;
    a{
      color: $blue;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.gray-bg{
  padding: 10px 15px 5px 15px;
  background-color: $gray-bg;
}
a{
  color: $blue;
  &:hover{
    color: $blue-dark;
  }
}
.remove-border{
  border: none !important;
}
