body{
  overflow-x: hidden;
}

header{
  background-color: $primary-color;
  padding: emCalc(15px) 0;
  margin-bottom: emCalc(25px);

  a.sidebar-button{
    margin-left: 15px;
    img{
      margin-top: emCalc(-6px);
      width: emCalc(23px);
    }
    h4{
      margin-left: emCalc(10px);
      color: #fff;
      font-weight: bold !important;
      font-size: emCalc(22px) !important;
      display: inline !important;
    }
  }
}

.main{
  z-index: 0;
  position: relative;
}
.main-offset{
  left: emCalc(150px);
}

#sidebar{
  position: fixed;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  z-index: 1;
  width: emCalc(150px);
  background: $topbar-dropdown-bg;
  padding-top: emCalc(10px);

  .main-menu, .dotide-links{
    padding: 0 emCalc(15px);
  }
  .main-menu{
    overflow-x: hidden;
    border-bottom: emCalc(2px) solid #444444;
  }
  .dotide-links{
    margin-top: emCalc(10px);
  }

  h5, h6{
    color: #727272;
    margin-top: emCalc(5px);
    margin-bottom: emCalc(5px);
  }
  a{
    color: #ccc;
    font-size: emCalc(20px) !important;
  }
}

.footer{
  .row{
    border-top: solid emCalc(2px) #dde5e9;
  }
  a{
    font-weight: normal;
  }
  ul{
    list-style: none;
    li{
      float: left;
      margin-left: emCalc(22px);
      line-height: emCalc(40px);
    }
  }
  .beian {
    color: $panel-font-color;
    &:hover {
      color: $panel-font-color;
      text-decoration: underline;
    }
  }
}

/* IE upgrade overlay */
#ie-warning-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  filter: alpha(opacity=90);
  background-color: #f1f1f1;

  #ie-warning {
    position: relative;
    z-index: 2001;
    border: #000 1px solid;
    padding: 20px;
    background-color: #fff;
    color: #4f4f4f;
    font-family: Arial,Verdana,sans-serif;
    list-style-type: none;
    margin: 50px auto;
    width: 650px;
    height: 300px;

    h1 {
      margin-bottom: 0.5em;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      list-style: none none outside;

      li {
        background: image-url("browser_warning_bg.gif") no-repeat left top;
        float: left;
        margin: 0 5px;
        width: 120px;
        height: 122px;
        cursor: pointer;

        a {
          display: block;
          width: 120px;
          height: 122px;
          cursor: pointer;
        }

        img {
          margin: 0 10px;
          width: 100px;
          height: 100px;
        }

        p {
          font-size: 0.8em;
          margin: 0 auto;
          width: 120px;
          color: #808080;
          line-height: 17px;
          height: 18px;
          text-align: center;
        }
      }
    }
  }
}
