.sidebar dd{
  & > a{
    border-bottom: solid 1px $gray-light-border;
  }
  &:last-child a{
    border: none;
  }
  &.active > a{
    border-bottom: solid 1px $gray-border;
  }
  a{
    background-color: $gray-dark1-bg;
    padding: 8px;
    padding-left: 20px;
    &:hover{
      text-decoration: none;
      background-color: $gray-dark2-bg;
    }
  }
  .side-nav{
    padding: 0;
    a{
      background-color: white;
      width: 70%;
      padding: 4px;
      padding-left: 10px;
      &:hover{
        color: $blue-dark3;
        font-weight: bold;
        text-decoration: none;
      }
    }
    li.active{
      a{
        border-bottom: solid 1px $blue-dark1;
      }
    }
  }
}
