$orange: hsla(21, 100, 50, 1);
$orange-bg: hsla(21, 100, 50, 0.1);

$yellow: hsla(66, 100, 48, 1);

$green: hsla(80, 100, 37, 1);

$gray: hsla(37, 3, 53, 1);
$gray-darker: hsla(37, 3, 23, 1);

$gray-border: hsla(37, 3, 73, 1);
$gray-bg: hsla(37, 3, 96, 1);
$gray-dark-bg: hsla(37, 3, 89, 1);
$gray-darker-bg: hsla(37, 3, 75, 1);
$gray-darkerer-bg: hsla(37, 3, 65, 1);

$red-gray-bg: hsla(220, 18, 97, 1);

$gray-bg-sp: hsla(212, 19, 85, 1);

$blue: hsla(198, 99, 50, 1);
$blue-light: hsla(198, 99, 70, 1);
$blue-lighter: hsla(198, 99, 80, 1);
$blue-lighterer: hsla(198, 99, 92, 1);

$blue-op2: hsla(198, 99, 50, 0.2);
$blue-dark: hsla(198, 99, 40, 1);
$blue-darker: hsla(198, 99, 20, 1);

$pblue: hsla(216, 81, 67, 1);
$pblue-bg: hsla(216, 81, 95, 1);
