@import "foundation/variables";

.sidebar .section-container.accordion > section > .content,
.section-container.accordion > .section > .content {
  padding: 0;
  ul{
    list-style: none;
  }
  li a{
    display: block;
    padding: emCalc(10px);
    &:hover{
      background-color: $section-title-bg;
    }
  }
}
.api-index{
  margin-top: emCalc(35px);
  min-height: emCalc(320px);
  h3{
    color: $primary-color;
    text-align: center;
  }
  p{
    color: $body-font-color;
  }
  li{
    a{
      display: block;
      background-color: $section-title-bg;
      border-color: $section-title-bg-hover;
      padding: emCalc(10px) emCalc(20px) emCalc(10px) emCalc(20px);
      &:hover{
        background-color: $section-title-bg-hover;
      }
    }
  }
}
