a.th{
  margin: 10px;
}
pre{
  overflow: auto;
}
.markdown{
  margin-top: 25px;
  .highlight{
    border: 1px solid #cacaca;
    color: #393939;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1;
    background-color: #fafafb;
    background-clip: padding-box;
    p{
      margin: 0;
    }
  }
}
