- wrap_layout :cn do
  .sub-nav-bar
    .row
      .large-7.columns
        %h4
          %a{href: '/changelog/index.html'}= '更新日志'
  .row.main-content
    .large-9.small-12.columns
      .right-content
        = yield
    .large-3.columns.hide-for-small.news
      .right-content
        = yield_content :sidebar

  - content_for :javascripts do
    :javascript
      $('li.nav-changelog').addClass('active');
