- wrap_layout :en do
  .api
    .api-header
      .page-title
        %h2
          = 'API Service'
    .api-content.markdown
      .row
        .large-3.columns
          = partial "layouts/en_sidebar"
        .large-8.columns.large-offset-1
          = yield

  - content_for :javascripts do
    :javascript
      $(".api section.#{current_page.data.current_section}").addClass('active');
