---
layout: docs/libraries.cn
section: libraries
page: index
title: SDK
---

- content_for :raw_content do
  .row.block-guides
    .large-12.columns
      %h1= 'SDK'
      %hr
      %h3#libraries-official.remove-border
        %small
          %i.fa.fa-book
          = '官方'
      %ul.inline-list
        %li
          %a{href: '/cn/docs/libraries/ruby.html'}= "Ruby"
      %h3#libraries-community
        %small
          %i.fa.fa-book
          = '社区'
      %ul.inline-list
